@import url('fontello.css');
[class^="icon-"]:before,
[class*=" icon-"]:before {
	width: auto;
}
.icon-filetype_big:before {
	font-size: 32px;
}


@font-face {
	font-family:'ProximaNova';
	src: url('fonts/proximanova-black-webfont.eot');
	src: url('fonts/proximanova-black-webfont.eot?#iefix') format('embedded-opentype'),
			 url('fonts/proximanova-black-webfont.woff2') format('woff2'),
			 url('fonts/proximanova-black-webfont.woff') format('woff'),
			 url('fonts/proximanova-black-webfont.ttf') format('truetype'),
			 url('fonts/proximanova-black-webfont.svg#proxima_nova_blblack') format('svg');
	font-weight: 900;
	font-style: normal;
}
@font-face {
	font-family:'ProximaNova';
	src: url('fonts/proximanova-xbold-webfont.eot');
	src: url('fonts/proximanova-xbold-webfont.eot?#iefix') format('embedded-opentype'),
			 url('fonts/proximanova-xbold-webfont.woff2') format('woff2'),
			 url('fonts/proximanova-xbold-webfont.woff') format('woff'),
			 url('fonts/proximanova-xbold-webfont.ttf') format('truetype'),
			 url('fonts/proximanova-xbold-webfont.svg#proxima_nova_thextrabold') format('svg');
	font-weight: 800;
	font-style: normal;
}
@font-face {
	font-family:'ProximaNova';
	src: url('fonts/proximanova-bold-webfont.eot');
	src: url('fonts/proximanova-bold-webfont.eot?#iefix') format('embedded-opentype'),
			 url('fonts/proximanova-bold-webfont.woff2') format('woff2'),
			 url('fonts/proximanova-bold-webfont.woff') format('woff'),
			 url('fonts/proximanova-bold-webfont.ttf') format('truetype'),
			 url('fonts/proximanova-bold-webfont.svg#proxima_nova_rgbold') format('svg');
	font-weight: 700;
	font-style: normal;
}
@font-face {
	font-family:'ProximaNova';
	src: url('fonts/proximanova-boldit-webfont.eot');
	src: url('fonts/proximanova-boldit-webfont.eot?#iefix') format('embedded-opentype'),
			 url('fonts/proximanova-boldit-webfont.woff2') format('woff2'),
			 url('fonts/proximanova-boldit-webfont.woff') format('woff'),
			 url('fonts/proximanova-boldit-webfont.ttf') format('truetype'),
			 url('fonts/proximanova-boldit-webfont.svg#proxima_novabold_italic') format('svg');
	font-weight: 700;
	font-style: italic;
}
@font-face {
	font-family:'ProximaNova';
	src: url('fonts/proximanovasemibold.eot');
	src: url('fonts/proximanovasemibold.eot') format('embedded-opentype'),
			 url('fonts/proximanovasemibold.woff2') format('woff2'),
			 url('fonts/proximanovasemibold.woff') format('woff'),
			 url('fonts/proximanovasemibold.ttf') format('truetype'),
			 url('fonts/proximanovasemibold.svg#proximanovasemibold') format('svg');
	font-weight: 600;
	font-style: normal;
}
@font-face {
	font-family:'ProximaNova';
	src: url('fonts/proximanovasemibolditalic.eot');
	src: url('fonts/proximanovasemibolditalic.eot') format('embedded-opentype'),
			 url('fonts/proximanovasemibolditalic.woff2') format('woff2'),
			 url('fonts/proximanovasemibolditalic.woff') format('woff'),
			 url('fonts/proximanovasemibolditalic.ttf') format('truetype'),
			 url('fonts/proximanovasemibolditalic.svg#proximanovasemibolditalic') format('svg');
	font-weight: 600;
	font-style: italic;
}
@font-face {
	font-family:'ProximaNova';
	src: url('fonts/proximanova-reg-webfont.eot');
	src: url('fonts/proximanova-reg-webfont.eot?#iefix') format('embedded-opentype'),
			 url('fonts/proximanova-reg-webfont.woff2') format('woff2'),
			 url('fonts/proximanova-reg-webfont.woff') format('woff'),
			 url('fonts/proximanova-reg-webfont.ttf') format('truetype'),
			 url('fonts/proximanova-reg-webfont.svg#proxima_nova_rgregular') format('svg');
	font-weight: 400;
	font-style: normal;
}
@font-face {
	font-family:'ProximaNova';
	src: url('fonts/proximanova-regit-webfont.eot');
	src: url('fonts/proximanova-regit-webfont.eot?#iefix') format('embedded-opentype'),
			 url('fonts/proximanova-regit-webfont.woff2') format('woff2'),
			 url('fonts/proximanova-regit-webfont.woff') format('woff'),
			 url('fonts/proximanova-regit-webfont.ttf') format('truetype'),
			 url('fonts/proximanova-regit-webfont.svg#proxima_novaregular_italic') format('svg');
	font-weight: 400;
	font-style: italic;
}
@font-face {
	font-family:'ProximaNova';
	src: url('fonts/proximanova-light-webfont.eot');
	src: url('fonts/proximanova-light-webfont.eot?#iefix') format('embedded-opentype'),
			 url('fonts/proximanova-light-webfont.woff2') format('woff2'),
			 url('fonts/proximanova-light-webfont.woff') format('woff'),
			 url('fonts/proximanova-light-webfont.ttf') format('truetype'),
			 url('fonts/proximanova-light-webfont.svg#proxima_nova_ltlight') format('svg');
	font-weight: 300;
	font-style: normal;
}
@font-face {
	font-family:'ProximaNova';
	src: url('fonts/proximanova-lightit-webfont.eot');
	src: url('fonts/proximanova-lightit-webfont.eot?#iefix') format('embedded-opentype'),
			 url('fonts/proximanova-lightit-webfont.woff2') format('woff2'),
			 url('fonts/proximanova-lightit-webfont.woff') format('woff'),
			 url('fonts/proximanova-lightit-webfont.ttf') format('truetype'),
			 url('fonts/proximanova-lightit-webfont.svg#proxima_novalight_italic') format('svg');
	font-weight: 300;
	font-style: italic;
}
@font-face {
	font-family:'ProximaNova';
	src: url('fonts/proximanovathin.eot');
	src: url('fonts/proximanovathin.eot') format('embedded-opentype'),
			 url('fonts/proximanovathin.woff2') format('woff2'),
			 url('fonts/proximanovathin.woff') format('woff'),
			 url('fonts/proximanovathin.ttf') format('truetype'),
			 url('fonts/proximanovathin.svg#proximanovathin') format('svg');
	font-weight: 200;
	font-style: normal;
}

.font-bold{
	font-weight: 700;
}